 .header {
     background: #fff;
     padding: .4rem;
     overflow: hidden;
     height: 2.8rem;
     border-bottom: 1px solid #ccc;
 }

 .header-logo {
     color: #1e90ff;
     font-size: 1.4rem;
     text-align: left;
 }

 .header-logo {
    color: #999;
    font-size: .6rem;
    display: inline-block;
    padding
}